.root{
    -fx-background-image:url("bk1.jpg");
}
.button
{
   -fx-background-color: transparent;
   -fx-text-fill: white;
   -fx-border-width: 0px 0px 2px 0px;
   -fx-border-color: white; 
   -fx-font-size: 30px;
   -fx-font-family:sans-serif;
  
  
}
.button:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.button:hover {
    -fx-background-color: #847545;
    -fx-scale-y: 1.1;
}
.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-font-size: 20px;
 
}
.label{
   -fx-font-size: 25px;
   -fx-background-color: transparent;
   -fx-color: white;
   -fx-text-fill: white;
   
}
